{
    "option_settings": [{
            "option_name": "S3_BUCKET",
            "value": "jto-images"
        },
        {
            "option_name": "S3_KEY",
            "value": "AKIATITNO3I4TZQBATE5"
        },
        {
            "option_name": "S3_SECRET_ACCESS_KEY",
            "value": "KciA+Gj2wd/bbprKJ54pATObmYxSLLzCb3T6s0Xs"
        },
        {
            "option_name": "SECRET_KEY",
            "value": "ABC888888"
        }
    ]
}