.full-width {
  width: 100%;
}

#home-page .flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
#home-page .img-block {
  display: flex;
  align-items: center;
  justify-content: center;
}
#home-page .ui.menu.header-menu {
  border-radius: 0;
  height: 45px;
  background: #4a76a8;
  border-bottom: 1px solid #4872a3;
}
#home-page .ui.menu.header-menu .item:before {
  width: unset;
}
#home-page .search {
  padding: 12px;
}
#home-page .search-tag {
  margin-bottom: 10px;
  font-weight: 500;
}
#home-page .ui.vertical.menu.secondary-menu .item:before {
  width: 0;
}
#home-page .ui.vertical.menu .active.item {
  font-weight: 500;
  border-radius: 8px;
}
#home-page .secondary-menu.ui.vertical.menu > .item:first-child {
  padding: 12px 0;
}
#home-page .ui.vertical.menu a.item:hover {
  border-radius: 8px;
}
#home-page .secondary-menu {
  border: none;
  box-shadow: none;
}
#home-page .secondary-menu .item > i {
  float: unset;
  margin: 0 6px 0 0;
}
#home-page #upload, #home-page #postimage {
  padding: 5px;
  border: 2px solid #4872a3;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  background-color: #4872a3;
}
#home-page #postimage {
  width: 109px;
}
#home-page #userimage {
  border: 1px solid #4872a3;
  border-radius: 4px;
  padding: 4px;
  background-color: #4872a3;
  color: #4872a3;
  width: 104px;
}
#home-page #userimage > input {
  background-color: #4caf50;
}
#home-page .image-form h4 {
  margin-top: 12px;
}
#home-page span.title {
  font-size: 21px;
  font-weight: 500;
  display: block;
  margin: 16px 0;
}
#home-page .prof-friends {
  display: flex;
}
#home-page .prof-friends .prof-friend {
  margin-right: 16px;
  text-align: center;
}
#home-page .prof-friends .prof-friend span {
  font-weight: 400;
  display: block;
  margin: 8px 0;
}
#home-page .ui.feed .news-feed {
  margin-bottom: 24px;
  padding: 16px;
}
#home-page .profile-info span {
  display: block;
}
#home-page .profile-info .prof-status {
  font-weight: 400;
  margin: 0 0 10px;
}
#home-page .profile-info .profile-name {
  font-size: 19px;
  line-height: 25px;
  font-weight: 400;
}
#home-page .profile-info .profile-status {
  margin: 8px 0;
}
#home-page .profile-info .profile-details {
  margin-bottom: 20px;
  display: flex;
}
#home-page .profile-info .profile-details .prof-text {
  min-width: 165px;
}
#home-page .profile-info .profile-details .prof-text span {
  min-height: 24px;
  color: #828282;
}
#home-page .profile-info .profile-details .prof-data span {
  min-height: 24px;
  color: #333;
}
#home-page .profile-info .prof-stats {
  display: flex;
  align-items: center;
  justify-content: center;
}
#home-page .profile-info .prof-stats .value {
  font-size: 35px !important;
  font-weight: 300;
}
#home-page .profile-info .prof-stats .label {
  font-weight: 400;
}

#login-page .main-content {
  display: flex;
}
#login-page .main-content > div {
  flex-basis: 100%;
}
#login-page .main-content .website-info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 34px 50px 50px;
}
#login-page .main-content .login-section {
  padding: 34px 50px 50px;
}
#login-page .ui.stacked.segment:after,
#login-page .ui.stacked.segment:before,
#login-page .ui.stacked.segments:after,
#login-page .ui.stacked.segments:before {
  height: 4px;
}

#sign-page .login-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px 20px;
}
#sign-page .login-form form {
  width: 350px;
}

/*# sourceMappingURL=style.css.map */
