.full-width{
    width: 100%;
}
#home-page {
    .ui.menu.header-menu {
        border-radius: 0;
        height: 45px;
        background: #4a76a8;
        border-bottom: 1px solid #4872a3;

        .item:before{
            width:unset;
        }
        
    }

    .search{
        padding: 12px;
    }

    .search-tag{
        margin-bottom:10px;
        font-weight: 500;
    }

    .ui.vertical.menu.secondary-menu .item:before {
        width: 0;
    }
    .ui.vertical.menu .active.item{
        font-weight: 500;
        border-radius: 8px;
    }
    .secondary-menu.ui.vertical.menu>.item:first-child{
        padding: 12px 0;
    }
    .ui.vertical.menu a.item:hover{
        border-radius: 8px;
    }

    .secondary-menu {
        border: none;
        box-shadow: none;

        .item > i{
            float: unset;
            margin: 0 6px 0 0;
        }
    }

    #upload{
        padding: 5px;
        border: 2px solid #4caf50;
        border-radius: 4px;
        text-transform: uppercase;
        font-weight: 500;
        color: #fff;
        background-color: #4caf50;
    }

    #userimage{
        border: 1px solid #4caf50;
        border-radius: 4px;
        padding: 4px;
        background-color: #4caf50;
        color: #4caf50;
        width: 104px;

        > input{
            background-color: #4caf50;
        }
    }

    .image-form{
        h4{
            margin-top:12px;
        }
    }

    span.title{
        font-size: 21px;
        font-weight: 500;
        display: block;
        margin: 16px 0;
    }

    .prof-friends{
        display: flex;

        .prof-friend{
            margin-right: 16px;
            text-align: center;

            span{
                font-weight: 400;
                display: block;
                margin: 8px 0;
            }
        }
    }

    .ui.feed .news-feed{
        margin-bottom: 24px;
        padding: 16px;
    }
  


    .profile-info {
        span {
            display: block;
        }
        .prof-status{
            font-weight: 400;
            margin: 0 0 10px;
        }

        .profile-name {
            font-size: 19px;
            line-height: 25px;
            font-weight: 400;
        }

        .profile-status {
            margin: 8px 0;
        }

        .profile-details {
            margin-bottom: 20px;
            display: flex;

            .prof-text {
                min-width: 165px;

                span {
                    min-height: 24px;
                    color: #828282;
                }
            }

            .prof-data {
                span{
                    min-height: 24px;
                    color: #333;
                }
            }
        }

        .prof-stats {
            display: flex;
            align-items: center;
            justify-content: center;

            .value {
                font-size: 35px !important;
                font-weight: 300;
            }

            .label {
                font-weight: 400;
            }
        }
    }
}

#login-page {
    .main-content {
        display: flex;

        &>div {
            flex-basis: 100%;
        }

        .website-info {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 34px 50px 50px;
        }

        .login-section {
            padding: 34px 50px 50px;
        }
    }

    .ui.stacked.segment:after,
    .ui.stacked.segment:before,
    .ui.stacked.segments:after,
    .ui.stacked.segments:before {
        height: 4px;
    }

 
}

#sign-page{
    .login-form{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px;

        form{
            width: 350px;
        }
    }

}