{% extends "base.html" %} {% block content %}
<div class="profile-section thirteen wide column">
    <div class="ui grid">
        <div class="eight wide column">
            <h2 class="ui center aligned icon header">
                <i class="circular users icon"></i> Friends
            </h2>

            <div class="ui middle aligned selection list">
                {% for friend in friends %}
                <div class="item">
                    <img class="ui avatar image" src="{{friend.image_path}}">
                    <div class="content">
                        <div class="header">{{friend.name}}</div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="eight wide column">
            <h2 class="ui center aligned icon header">
                <i class="circular street view
                icon"></i> All Users
            </h2>
            <div class="ui middle aligned selection list">
                {% for userrelation in Notfriends %}
                <div class="item">
                    <img class="ui avatar image" src="/static/images/img.jpg">
                    <div class="content">
                        <div class="header">{{userrelation.name}}</div>
                    </div>
                    {% if userrelation.status == 1 and userrelation.action_by == current_user.id %}
                    <p id="{{userrelation.id}}" class="ui tiny button teal" style="margin-left:30px">Waiting acceptance!</p>
                    {% elif userrelation.status == 1 and userrelation.action_by != current_user.id %}
                    <button id="{{userrelation.id}}" class="status_button ui tiny button teal" style="margin-left:30px">Accept Friendship</button> {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}