{% extends "base.html" %} {% block content %}
<div class="profile-section thirteen wide column">

    <h1>Hi, User {{ user }}!</h1>
    <h2>Your friends are : </h2>
    <table>
        <th>Id</th>
        <th>Name</th>
        {% for friend in friends %}
        <tr>
            <td>{{friend.id}}</td>
            <td>{{friend.name}}</td>
        </tr>
        {% endfor %}
    </table>

    <h2>All users : </h2>
    <table>
        <th>Id</th>
        <th>Name</th>
        {% for user in Notfriends %}
        <tr>
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td id="status_{{user.id}}">{{user.status}}</td>
            <td><button id="{{user.id}}" class="status_button"></button></td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}