{% extends "base.html" %} {% block content %}
<div class="profile-section thirteen wide column">
    <div class="ui grid">
        <div class="eight wide column">
            <h2 class="ui center aligned icon header">
                <i class="circular users icon"></i>
                Friends
            </h2>

            <div class="ui middle aligned selection list">
                {% for friend in friends %}
                <div class="item">
                    <img class="ui avatar image" src="/static/images/img.jpg">
                    <div class="content">
                        <div class="header">{{friend.name}}</div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="eight wide column">
            <h2 class="ui center aligned icon header">
                <i class="circular street view
                icon"></i>
                All Users
            </h2>
            <div class="ui middle aligned selection list">
                {% for user in Notfriends %}
                <div class="item">
                    <img class="ui avatar image" src="/static/images/img.jpg">
                    <div class="content">
                        <div class="header">{{user.name}}</div>
                    </div>
                    <button id="{{user.id}}" class="status_button ui tiny button teal" style="margin-left:30px">Add Friend</button>

                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}