{% extends "base.html" %} {% block content %}

<div class="news-feed eight wide column">
    <div class="ui form">
        <div class="field">
            <label>What's new?</label>
            <form method="post" enctype="multipart/form-data" class='image-form'>
                {{ postform.hidden_tag() }}
                <p> {{ postform.text() }} <br>
        </div>
        <p> {{ postform.postimage() }} <br> <br> {{ postform.submit() }}</p>
        </form>
    </div>
    <div class="ui feed">
        <span class="title">News Feed</span> {% if newposts|length %} {% for post in newposts %}
        <div class="news-feed event ui segment">
            <div class="label">
                <img src="/static/images/img.jpg">
            </div>
            <div class="content">
                <div class="summary">
                    <input id="postid" type="hidden" value='{{post["postid"]}}'>
                    <a>{{post["username"]}}</a> posted on his page
                    <div class="date">
                        {{post["createdate"]}}
                    </div>
                </div>
                <div class="extra text">
                    {{post["post"]}}
                </div>
                <div>
                    {% if post.image_path %}
                    <img class="ui tiny image" src="{{post.image_path}}"> {% else %}
                    <img class="ui tiny image" src=""> {% endif %}
                </div>
                <div class="meta">
                    <div class="ui labeled button mini" style="margin-top:24px;" tabindex="0">
                        <button class="ui teal mini button likebutton" id="{{post.postid}}">
                            <i class="heart icon"></i> Like
                        </button>

                        <a class="ui basic teal left pointing label like_{{post.postid}}">
                            {{post["likes"]}} Likes
                        </a>

                    </div>

                </div>

            </div>
        </div>
        {% endfor %} {% else %} Your News Feed is empty Right Now! Add something or add New Friends To Be On the same
        Wavelength! {% endif %}

    </div>
</div>
<div class="instuctions-feed five wide column">
    <div class="ui card">
        <div class="flex">
            <img class="ui small image" src="{{current_user.image_path}}">
        
        </div>
        <div class="content">
            <a class="header">{{current_user.name}}</a>
            <div class="meta">
                <span class="date">Joined in 2013</span>
            </div>
            <div class="description">
                Kristy is an art director living in New York.
            </div>
        </div>
        <div class="extra content">
            <a>
                <i class="user icon"></i>
                22 Friends
            </a>
        </div>
    </div>
</div>



{% endblock %}