{% extends "base.html" %} 

{% block content %}

<div class="news-feed thirteen wide column">
    <div class="ui form">
        <div class="field">
            <label>What's new?</label>
            <textarea rows="2"></textarea>
        </div>
        <button class="ui small green button">Submit</button>
    </div>
    <div class="ui feed">
        <span class="title">News Feed</span>
        {% if variable|length %}

        {% for post in newposts %}
        <div class="news-feed event ui segment">
            <div class="label">
                <img src="/static/images/img.jpg">
            </div>
            <div class="content">
                <div class="summary">
                    <input id="postid" type="hidden" value='{{post["postid"]}}'>
                    <a>{{post["username"]}}</a> posted on his page
                    <div class="date">
                        {{post["createdate"]}}
                    </div>
                </div>
                <div class="extra text">
                    {{post["post"]}}
                </div>
                <div class="meta">
                    <a class="like_{{post.postid}}">
                        {{post["likes"]}} Likes
                    </a>
                    <button id="{{post.postid}}" class="likebutton">like</button>
                </div>
            </div>
        </div>
        {% endfor %}

        {% else %}
            Your News Feed is empty Right Now! Add something or add New Friends To Be On the same Wavelength!
        {% endif %}

    </div>
</div>



{% endblock %}