<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/semantic.min.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="{{ url_for('static',filename='js/main.js') }}"></script>
  <script src="{{ url_for('static',filename='js/semantic.min.js') }}"></script>
</head>

<body id="login-page">
  <div class="main-content">
    <div class="website-info">
      <div>
        <div class="ui statistics inverted segment">
            <h2>JTO - Social Fitness Platform, where You can share your Goals, Challenges, Diet and many many other features
                with friends. </h2>
          <div class="red inverted statistic">
            <div class="text value">
              Save <br> Albums
            </div>
            <div class="label">
              Feature
            </div>
          </div>
          <div class="orange inverted statistic">
            <div class="text value">
              Add<br>
              Friends
            </div>
            <div class="yellow inverted label">
              Feature
            </div>
          </div>
          <div class="olive inverted statistic">
            <div class="text value">
              Cloud <br> Based
            </div>
            <div class="label">
              Website
            </div>
          </div>
          <div class="green inverted statistic">
            <div class="text value">
              News <br> Feed
            </div>
            <div class="label">
              Feature
            </div>
          </div>
          <div class="violet inverted statistic">
            <div class="text value">
              Upload <br> Diet 
            </div>
            <div class="label">
              Feature
            </div>
          </div>
          <div class="blue inverted statistic">
              <div class="text value">
                Social <br> Network 
              </div>
              <div class="label">
                Analog
              </div>
            </div>
            <img class="ui image" src="../images/bestrong.jpeg" alt="img">


        </div>
      </div>
    </div>
    <div class="login-section">
      <div class="ui middle aligned center aligned grid">
        <div class="column">
          <h2 class="ui teal image header">
            <div class="content">
              Log-in to your account
            </div>
          </h2>
          <form class="ui large form" id="login-form">
            <div class="ui stacked segment">
              <div class="field">
                <input type="text" name="email" placeholder="E-mail address">
              </div>
              <div class="field">
                <input type="password" name="password" placeholder="Password">
              </div>
              <div class="ui fluid large teal submit button">Login</div>
            </div>

            <div class="ui error message"></div>

          </form>

        </div>
      </div>
      <div class="ui middle aligned center aligned grid">
        <div class="column">
          <h2 class="ui teal image header">
            <div class="content">
              First time on JTO? Sign Up
            </div>
          </h2>
          <form class="ui large form" id="reg-form">
            <div class="ui stacked segment">
              <div class="field">
                <input type="text" name="name" placeholder="Name">
              </div>
              <div class="field">
                <input type="text" name="surname" placeholder="Surname">
              </div>
              <div class="field">
                <input type="text" name="email" placeholder="E-mail address">
              </div>
              <div class="field">
                <input type="password" name="password" placeholder="Password">
              </div>
              <div class="field">
                <input type="password" name="confirmation" placeholder="Confirm Password">
              </div>
              <div class="ui fluid large teal submit button">Sign Up</div>
            </div>

            <div class="ui error message"></div>

          </form>

        </div>
      </div>
    </div>
  </div>
</body>

</html>