{% extends "sign-base.html" %}
{% block content %}
<div class="ui container">
    <div class="website-info">
        <div class="ui statistics inverted segment">
            <h2 class="text-center">JTO - Social Fitness Platform, where You can share your Goals, Challenges, Diet and
                many many other
                features
                with friends. </h2>
            <div class="red inverted statistic">
                <div class="text value">
                    Save <br> Albums
                </div>
                <div class="label">
                    Feature
                </div>
            </div>
            <div class="orange inverted statistic">
                <div class="text value">
                    Add<br>
                    Friends
                </div>
                <div class="yellow inverted label">
                    Feature
                </div>
            </div>
            <div class="olive inverted statistic">
                <div class="text value">
                    Cloud <br> Based
                </div>
                <div class="label">
                    Website
                </div>
            </div>
            <div class="green inverted statistic">
                <div class="text value">
                    News <br> Feed
                </div>
                <div class="label">
                    Feature
                </div>
            </div>
            <div class="violet inverted statistic">
                <div class="text value">
                    Upload <br> Diet
                </div>
                <div class="label">
                    Feature
                </div>
            </div>
            <div class="blue inverted statistic">
                <div class="text value">
                    Social <br> Network
                </div>
                <div class="label">
                    Analog
                </div>
            </div>
        </div>
    </div>
    <div class="login-form">
        <form method="POST" action="" class="ui form">

            {{ form.hidden_tag()}}
            <div class="field">
                {{form.name.label(class="form-control-label")}}

                {% if form.name.errors%}
                {{form.name(class="form-control form-control-lg is-invalid")}}
                <div class="invalid-feedback">

                    {% for errors in form.name.errors %}
                    <span> {{ error }}</span>
                    {% endfor %}
                </div>
                {% else%}
                {{form.name(class="form-control form-control-lg")}}
                {% endif %}
            </div>

            <div class="field">

                {{form.email.label(class="form-control-label")}}
                {% if form.email.errors%}
                {{form.email(class="form-control form-control-lg is-invalid")}}
                <div class="invalid-feedback">

                    {% for errors in form.email.errors %}
                    <span> {{ error }}</span>
                    {% endfor %}
                </div>
                {% else%}
                {{form.email(class="form-control form-control-lg")}}
                {% endif %}

            </div>
            <div class="field">

                {{form.password.label(class="form-control-label")}}
                {% if form.password.errors%}
                {{form.password(class="form-control form-control-lg is-invalid")}}
                <div class="invalid-feedback">

                    {% for errors in form.password.errors %}
                    <span> {{ error }}</span>
                    {% endfor %}
                </div>
                {% else%}
                {{form.password(class="form-control form-control-lg")}}
                {% endif %}

            </div>

            <div class="field">

                {{form.confirm_password.label(class="form-control-label")}}
                {% if form.confirm_password.errors%}
                {{form.confirm_password(class="form-control form-control-lg is-invalid")}}
                <div class="invalid-feedback">

                    {% for errors in form.confirm_password.errors %}
                    <span> {{ error }}</span>
                    {% endfor %}
                </div>
                {% else%}
                {{form.confirm_password(class="form-control form-control-lg")}}
                {% endif %}
            </div>

            <div class="field">
                {{form.submit(class="ui button full-width green")}}

            </div>
            <div class="ui horizontal divider">
                Or
            </div>
            <div class="field">
                <a href="{{url_for('login')}}" class='ui teal button full-width'>Login</a>
                <!-- login function name from flaskblog.py -->
            </div>
        </form>

    </div>
</div>
{% endblock content %}