<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Upload image</title>
</head>

<body>
    <h2>{{ title }}</h2>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>{{ form.text.label }} <br> {{ form.text(size=14) }} <br>
            <p>{{ form.upload() }}</p>
        </p>
    </form>
</body>

</html>