{% extends "base.html" %} {% block content %}


<div class="profile-section thirteen wide column">
    <div class="ui grid">
        <div class="images-section six wide column">
            <img class="ui small image" src="{{user.image_path}}"> {% if userimageform is not none %}
            <form action="{{ url_for('upload_user_image') }}" method="post" novalidate enctype="multipart/form-data" class='image-form'>

                <h4 class="ui dividing header">Choose or Change Your Profile Picture</h4>

                {{ userimageform.hidden_tag() }} {{ userimageform.userimage }} {{ userimageform.upload() }}

            </form>
            {% endif %}
            <span class="title">Friends</span>
            <div class="prof-friends">
                {% if friends is not none %} {% for friend in friends %}
                <div class="prof-friend">
                    {% if friend.image_path %}
                    <img class="ui tiny circular image" src="{{friend.image_path}}"> {% else %}
                    <img class="ui tiny circular image" src="/static/images/img.jpg"> {% endif %}
                    <a href="{{url_for('profile',id=friend.id)}}"><span class="friend-name">{{friend.name}}</span></a>

                </div>
                {% endfor %} {% endif %}
            </div>

        </div>
        <div class="profile-info ten wide column">
            <div class="ui segment">
                <span class='profile-name'>{{user.name}}</span>
                <span class="profile-status">Loves Fitness and Movies</span>

                <span class="prof-status">
                    {% if current_user.id == user.id %}
                    My Profile
                    {% else %}
                    <button>{{status}}</button>
                    {% endif %}
                </span>
                <div class="profile-details">
                    <div class="prof-text">
                        <span>Birthday</span>
                        <span>Current city</span>
                        <span>Interests</span>
                        <span>Languages</span>
                    </div>
                    <div class="prof-data">
                        <span>{{user.name}}</span>
                        <span>{{user.name}}</span>
                        <span>{{user.name}}</span>
                        <span>{{user.name}}</span>
                    </div>
                </div>
                <div class="prof-stats ui statistics">
                    <div class="statistic">
                        <div class="value">
                            22
                        </div>
                        <div class="label">
                            Friends
                        </div>
                    </div>
                    <div class="statistic">
                        <div class="value">
                            80
                        </div>
                        <div class="label">
                            Weight(kg)
                        </div>
                    </div>
                    <div class="statistic">
                        <div class="value">
                            180
                        </div>
                        <div class="label">
                            Height(cm)
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui form">
                <div class="field">
                    <label>What's new?</label>
                    <form method="post" enctype="multipart/form-data" class='image-form'>
                        {{ postform.hidden_tag() }}
                        <p> {{ postform.text() }} <br>
                </div>
                <p> {{ postform.postimage() }} <br> <br> {{ postform.submit() }}</p>
                </form>
            </div>
            <span class="title">My News Feed</span>

            <div class="ui feed segment">
                {% if posts is not none %} {% if posts|length %} {% for post in posts %}
                <div class="event">
                    <div class="label">
                        <img src="/static/images/img.jpg">
                    </div>
                    <div class="content">
                        <div class="summary">
                            <a>{{user.name}}</a> posted on his page
                            <div class="date">
                                3 days ago
                            </div>
                        </div>
                        <div class="extra text">
                            {{post.text}}
                        </div>
                        <div>
                            {% if post.image_path %}
                            <img , src="{{post.image_path}}"> {% else %}
                            <img class="ui tiny circular image" src=""> {% endif %}
                        </div>
                        <div class="meta">
                            <div class="ui labeled button mini" style="margin-top:24px;" tabindex="0">
                                <button class="ui teal mini button likebutton" id="{{post.postid}}">
                                    <i class="heart icon"></i> Like
                                </button>

                                <a class="ui basic teal left pointing label like_{{post.postid}}">
                                    {{post["likes"]}} Likes
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %} {% else %} Your News Feed is empty Right Now! Add something or add New Friends To Be On the same Wavelength! {% endif %} {% endif %}
            </div>

        </div>
    </div>
</div>


{% endblock %}